
/* margin: 0;
padding: 0; */
box-sizing: border-box;
}
/*
.menu {
height: 100px;
background-color: #B2D6FF;    * Medium blue *
}
.sidebar {
float: left;
width: 200px;                 * Add this *
height: 150px;
background-color: #F09A9D;
}
*
.sidebar {
height: 300px;
background-color: #F09A9D;    * Red *
}
*


.article-image {
float: left;
width: 300px;
height: 200px;
margin-right: 20px;
margin-bottom: 20px;
}

p {
margin-bottom: 20px;
}


.content {
padding: 20px;
*height: 250px;
width: 650px;*
float: left;
background-color: #F5CF8E;    * Yellow *
}

.footer {
*height: 100px;*
overflow: hidden;
background-color: #D6E9FE;    * Light blue *
clear: both;
}
.column {
float: left;
width: 31%;
margin: 20px 1.15%;
height: 160px;
background-color: #B2D6FF;    * Medium blue *
}
.page{
width: 900px;
margin: 0 auto;
border: 5px solid red;
overflow: hidden;             * Add this *
  background-color: #EAEDF0;    * Add this *
}


.container {
overflow: hidden;
background-color: #EAEDF0;
}
*/


p{
/*color:     pink;* #0D4D4D*/
/* text-align:   left; */
/* border: 5px solid red;*rgba(102, 153, 153, 0.5); */

cursor:    pointer;
}


p{
text-decoration:            none;
 /* text-transform:  capitalize ; */
  text-transform: none  ;
font-size: 12px;
}


p{
width: 900px;
/* line-height:  200px; */
}


p{
font-style:    normal;
font-weight:   400;
line-height:   20px;
/* font-family: 'Times New Roman' */
font-family: sans-serif'
 /* font-family:  sans-serif, Georgia,'Times New Roman' */
}
/*
p {
font-family: 'Poiret One', cursive;
} */

img{
float: left;
}

/* footer{
  clear:  both;
text-align:   center;
text-transform:  uppercase;
font-size: 20px;
} */

span {
font-size: 1.6em
}
