p{
/*color:     pink;* #0D4D4D*/
/* text-align:   left; */
/* border: 5px solid red;*rgba(102, 153, 153, 0.5); */

cursor:    pointer;
}


p{
text-decoration:            none;
 /* text-transform:  capitalize ; */
  text-transform: none  ;
font-size: 15px;
}


p{
width: 900px;
/* line-height:  200px; */
}


p{
font-style:    normal;
font-weight:   400;
line-height:   20px;
/* font-family: 'Times New Roman' */
font-family: sans-serif'
 /* font-family:  sans-serif, Georgia,'Times New Roman' */
}
/*
p {
font-family: 'Poiret One', cursive;
} */

img{
float: left;
}

/* footer{
  clear:  both;
text-align:   center;
text-transform:  uppercase;
font-size: 20px;
} */

span {
font-size: 1.6em
}
