* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}


input[type='text'],
input[type='email'],
input[type='password'],
textarea {
  width: 150px;
  font-family:  sans-serif,fantasy;
  padding: 5px 20px;
  margin: 8px 0;
  background-color: pink;
}

.speaker-form-header {
  text-align: center;
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;

  width: 80%;
  margin: 40px 0;
  padding: 50px;
}

.speaker-form-header h1 {
  font-size: 30px;
  margin-bottom: 10px;
}
